@import url("reset.css");
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');

h1, p {
    font-family: "Roboto";
}

.btn {
    display: flex;
    width: 258px;
    height: 74px;
    background-color: #f1f1f1;
    border-radius: 7px;
    margin: 10px;
}

/* .btn:hover {
    background: linear-gradient(90.19deg, #F1F1F1 69.05%, #A5F99E 99.84%);
} */

.circle {
    background-color: #8E84FE;
    height: 51px;
    width: 51px;
    border-radius: 50%;
    margin: 10px 4px 10px 4px;
    align-items: center;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

.info__ticket {
    padding-top: 6px;
    font-size: 9px;
    font-weight: 400;
    color: #565656;
}

.info__client {
    padding-top: 8px;
    font-size: 12px;
    font-weight: 700;

}

.info__msg {
    padding-top: 6px;
    font-size: 9px;
    font-weight: 400;
    color: #565656;
}

.hours {
    padding-top: 6px;
    padding-right: 4px;
}

.hours__btn {
    background-color: #6dff61;
    border: none;
    border-radius: 25px;
    width: 80px;
    height: 13px;
    font-size: 9px;
    font-weight: 700;
    text-align: center;
}